.modal {
  position: absolute;
  top: 27%;
  right: 27%;
  left: 27%;
  bottom: 27%;
  background: #fff;
  border-radius: 8px;
  padding: 15px;
  outline: none;
  animation: fadein 0.5s;

  .modal-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 66px;
    }

    h1 {
      margin: 20px 0;
    }

    .buttons-modal {
      margin-top: 30px;
      width: 55%;
      display: flex;
      justify-content: space-between;

      button {
        height: 50px;
        border-radius: 8px;
        font-weight: 500;
        padding: 0 32px;
        outline: none;

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
        border: 0;

        transition: filter 0.2s;

        &:first-child {
          color: var(--gray);
          background: #dbdcdd;
        }

        &:last-child {
          color: var(--white);
          background: #e73f5d;
        }

        &:not(:disabled):hover {
          filter: brightness(0.9);
        }
      }
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
